<div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <h5 class="text-sm font-weight-bold text-dark  mb-1">Active-Pasive Customer</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <h5 class="text-sm font-weight-bold text-dark  mb-1">Frequency of Visit</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <h5 class="text-sm font-weight-bold text-dark  mb-1">Sales Ability</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <h5 class="text-sm font-weight-bold text-dark  mb-1">Pending Item</h5>
            </div>
        </div>
    </div>
</div>
