div.tab-a {
    border-radius: 10px;
    min-width: 80px !important;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

div.tab-a.active {
    background-color: #ededee;
    border-radius: 10px;
    min-width: 80px !important;
    height: 50px;
    color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.tab-a a {
    color: #385fcf;
    text-decoration: none;
    font-weight: 700 !important;
}

div.floating-comparison-button {
    display: block;
    position: absolute;
    justify-content: center;
    left: 42%;
    right: 0;
    bottom: 0;
}

div.floating-comparison-button button {
    border: none;
    border-radius: 30px;
    background-color: #385fcf;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: 500;
    box-shadow: 1px 3px 5px 1px gray;
}
